<a href="https://colab.research.google.com/github/balaajhi/One-step-at-a-time/blob/main/Diversifiable_and_Non_Diversifiable_Risk_of_a_Portfolio_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Diversifiable and Non-Diversifiable Risk of a Portfolio

In [20]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
%pip install yfinance

stocks = ['MSFT', 'AAPL']

import datetime as dt
import yfinance as yf
import pandas as pd

# stocks = ['PG', 'MSFT', 'F', 'GE']
start = dt.datetime.today()-dt.timedelta(12000)
end = dt.datetime.today()
sec_data = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock
ohlcv_data = {} # empty dictionary which will be filled with ohlcv dataframe for each ticker

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    sec_data[ticker] = yf.download(ticker,start,end,interval = '1d')["Adj Close"]
    
sec_data

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  MSFT        AAPL
Date
1989-04-06    0.224689    0.255357
1989-04-07    0.224689    0.265110
1989-04-10    0.225237    0.262450
1989-04-11    0.225237    0.267770
1989-04-12    0.210988    0.273090
...                ...         ...
2022-02-07  300.950012  171.660004
2022-02-08  304.559998  174.830002
2022-02-09  311.209991  176.279999
2022-02-10  302.380005  172.119995
2022-02-11  295.040009  168.639999

[8280 rows x 2 columns]

In [21]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8280 entries, 1989-04-06 to 2022-02-11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    8280 non-null   float64
 1   AAPL    8280 non-null   float64
dtypes: float64(2)
memory usage: 194.1 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [22]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
1989-04-06       NaN       NaN
1989-04-07  0.000000  0.037481
1989-04-10  0.002435 -0.010083
1989-04-11  0.000000  0.020069
1989-04-12 -0.065352  0.019671
...              ...       ...
2022-02-07 -0.016445 -0.004244
2022-02-08  0.011924  0.018298
2022-02-09  0.021600  0.008260
2022-02-10 -0.028783 -0.023882
2022-02-11 -0.024574 -0.020426

[8280 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [23]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [24]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.10088330700197767

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [25]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.100617
dtype: float64

In [26]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.193526
dtype: float64

Or:

In [27]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.10061706284817318

In [28]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.19352577404441218

Calculating Diversifiable Risk:

In [29]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.027347597778831334

In [30]:
print (str(round(dr*100, 3)) + ' %')

2.735 %

Calculating Non-Diversifiable Risk:

In [31]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.07353570922314634

Or:

In [32]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.07353570922314634

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [33]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [34]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.145383640480803

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [40]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
print (str(round(dr_2*100, 3)) + ' %')

1.75 %

Calculating Non-Diversifiable Risk:

In [37]:
n_dr_2 = pfolio_var_2 - dr_2
print (str(round(n_dr_2*100, 3)) + ' %')

12.788 %

Or:

In [38]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
print (str(round(n_dr_2*100, 3)) + ' %')

12.788 %